body{
  background-image: url('https://thumbs.dreamstime.com/b/sales-receipt-background-2454523.jpg');
  background-attachment:fixed;
  /* background-image: url('https://asset.gecdesigns.com/img/background-templates/dark-blue-business-background-template-1612192784768-cover.webp'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-position: center;
}

#logo {
  display: flex;
  flex: wrap;
  margin: 5px;
}

#image {
  height:80px;
  width: 80px;
}

#header {
  padding-left: 20px;
  font-style: oblique;
  background-color: antiquewhite; 
  padding-right: 10px;
  text-decoration: none;
}

#subLogo {
  border-style: ridge;
  border-radius: 6px;
  border-width: 8px;
  width: 280px;
}

#login {
  height: 230px;
  width: 230px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 70px rgba(211, 24, 217, 0.694);
  padding: 50px 35px;
}

#register {
  height: 250px;
  width: 230px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 70px rgba(211, 24, 217, 0.694);
  padding: 50px 35px;
}

.loginInput {
  border-radius: 6px;
  padding-left: 6px;
  display: block;
  letter-spacing: 1px;
  margin-left: 25%;
  position: absolute;
  left: 45%;
  margin: -25px 0 0 -25px;
  display: inline-grid;
}

.loginButton {
  padding: 5px 15px;
  border-radius: 7px;
  box-shadow: 0 3px #bb29c2b3;
  color:rgba(211, 24, 217, 0.694);
  background-color: rgba(218, 211, 25, 0.746);
  font-family: impact;
  letter-spacing: 1.5px;
}

.loginButton:hover {background-color: antiquewhite}

.loginButton:active {
  background-color: rgba(218, 211, 25, 0.746);
  box-shadow: 0 3px #bb29c2b3;
  transform: translateY(4px);
}

#nav {
  overflow: hidden;
  text-align: left;
  padding-right: 90%;
  padding-top: 4%;
  padding-left: 4px;
}

.links {
  background-color: antiquewhite;
  display: block;
  font-size: 20px;
  padding-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
  /* font-style: oblique; */
  font-family:'Optima' sans-serif;
  letter-spacing: 1px;
  color: rgba(211, 24, 217, 0.694);
  border: outset;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  text-align: center;
  /* figure out how to space out the links with borders */
}

.links:hover {
  color: black;
  background-color: #bb29c2b3;
}

#logout {
  border: none;
  width: 153px;
  font-family: oblique;
  font-size: 20px;
  text-align: left;
}

#expenseForm {
  height: 230px;
  width: 230px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 78%;
  left: 11%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 70px rgba(211, 24, 217, 0.694);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 200px;
  padding-top:2px;
  text-align: center
}

.expenseList {
  left: 55%;
  /* top: 70%; */
  margin-top: 17%;
  position: absolute;
  text-align: center;
  height: fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 70px rgba(211, 24, 217, 0.694);
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  padding-top:2px;
}

.expenseH2 {
  font-family: impact;
  letter-spacing: 1px;
  font-size: 40px;
}

.expenseH3 {
  padding: 3px;
  text-decoration: none;
  border: none;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
  border-color:rgba(211, 24, 217, 0.694);
  border-width: 3px;
  border-style: solid;
}

#expenseH3:hover {
  color: antiquewhite;
  background-color: #bb29c2b3;
}

#expenseLink {
  font-family:'Optima' sans-serif;  
  text-decoration: none;
  color: black;
}

.expenseInputs {
  padding: 3px;
  border: none;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
  border-color:rgba(211, 24, 217, 0.694);
  border-width: 3px;
  border-style: solid;
  font-family:'Optima' sans-serif
}

#search {

}

#searchInput {
  
}